__pycache__/
*.db
build/
.eggs/
*.so
newpoly
fort.*
*.swp
*_exp/
*_exp.*
.DS_Store
*.egg-info/
mnt/
*linux*/
*zfs-auto*
*zfs-auto*/
._.DS_Store
._*
*.egg-info/
*.so
*.pyf
dist/
outputModels/
*.db
output/
tags
rawOutput/
